<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AllegroWebApiBinding" maxReceivedMessageSize="2147483647">
                    <security mode="Transport"/>
                </binding>
                <binding name="AllegroWebApiBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webapi.allegro.pl/uploader.php" binding="basicHttpBinding" bindingConfiguration="AllegroWebApiBinding" contract="AllegroApiService.AllegroWebApiPortType" name="AllegroWebApiPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
