<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AllegroWebApiBinding" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="AllegroWebApiBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webapi.allegro.pl/uploader.php" binding="basicHttpBinding"
                bindingConfiguration="AllegroWebApiBinding" contract="AllegroApiService.AllegroWebApiPortType"
                name="AllegroWebApiPort" />
        </client>
    </system.serviceModel>
</configuration>